<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>go back to the main page</title>
    <style>
        body{
            background-color: cornflowerblue;
        }
        .outer {
            width: 100%;
            height: 800px;
            text-align: center;
            vertical-align: middle;
        }
        .inner {
            display: inline-block;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>

<table class="outer">
    <td>
        <div style="text-align: center;
            vertical-align: middle;">
            <button style="font-size: larger"><a th:href="@{/MainPage/1/1}"/>GO BACK</button>
        </div>
    </td>
</table>
</body>
</html>